<div class="row row-form">
  <div class="col-xs-8 col-xs-offset-2">
    <h3 class="form-section">Where is the asset ?</h3>
      <%= f.fields_for :geographical_location do |loc| %>
        <%= loc.input :attachment_type, label: false %>
      <% end %>
    </div>
</div>
