<div class="row row-form">
  <div class="col-xs-8 col-xs-offset-2">
    <h3 class="form-section">What kind of asset is it ?</h3>
      <%= f.input :asset_type, collection: BusinessAsset::BUSINESS_ASSET_TYPES, prompt: "Select an asset type", label: false %>
  </div>
</div>
