<div class="row">
  <div class="col-xs-6">
    <h2>What kind of asset is it ?</h2>

      <%= f.input :asset_type, collection: BusinessAsset::BUSINESS_ASSET_TYPES, prompt: "Select an asset type", label: false %>

  </div>
</div>
