  <div class="container">
    <div class="row">
      <% business_assets.each do |business_asset| %>
        <div class="col-xs-12 col-sm-12">
          <%= render 'shared/card', business_asset: business_asset  %>
        </div>
      <% end %>
    </div>
  </div>
  <div
    id="map"
    data-markers="<%= markers.to_json %>"
  ></div>
