<h1>Dashboard</h1>



























 <div class="col-xs-12 col-sm-12">
      <div class= "white-box" >
        <h3> Localisation </h3>
        <div
          id="map"
          data-markers="<%= @markers.to_json %>"
          style="height: 400px"
        ></div>
      </div>
    </div>
