<div class="border" style="width: 100%; height: 70px"></div>
<div class="navbar-taz navbar-index navbar-fixed-top">
  <div class="search_bar">
    <%= form_tag search_business_assets_path, method: :get, remote: true do%>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Type a city or zipcode"
      %>
    <% end %>
  </div>
</div>
<div class="main-container" id="main-display">
  <%= render 'cards_list_map', business_assets: @business_assets, markers: @markers  %>
</div>





