// Define variables for your color scheme

// Main colors
$background-color: #f2f3f4;
$main-color: #4b6a69;
$secondary-color: #F7C25A;
$third-color: #9dd8d4;



// Secondary colors
$red: #EE5F5B;
$yellow: #FDB631;
$orange: #E67E22;
$green: #51b686;
$gray: #9a9a9a;
$blue: #4c65bf;
$light-gray: #fafafa;
