// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");

// Define fonts for body and headers

$title-font-family: "Neue Helvetica";
$title-font-size: 40px;
$title-font-weight: 700;

$subtitle-font-family: "Neue Helvetica";
$subtitle-font-size: 20px;
$subtitle-font-weight: 500;

$text-font-family: "Neue helvetica Georgian";
$text-font-size: 16px;
$text-font-weight: 300;

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
