.flex-boxe {
  background: $background-color;
  display: flex;
  justify-content: space-around;
  border-radius: 9px;
  flex: 30 0 0%;
}

.white-box {
  background: white;
  padding: 40px;
  margin: 25px;
  margin-top : 40px;
  align-items: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  align-items: stretch;
  width: 100%;
}


