.hr {
  margin-right: 25px;
  width: 100%;
  text-align: right;
  margin-top: 25px;
  margin-bottom: 20px;
  color: $main-color;
}

.green_box {
  background-color: white !important;
  text-align: center;
  color: white !important;
  font-weight: bold !important;
  padding-top: 10px;
  border-radius: 0px;
  margin: 10px;
  max-width: 250px;
  h5 {
    font-size: 22px;
    font-weight: bold;
    color: $main-color;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  p {
    font-size: 15px;
    color: $main-color;
    margin-bottom: 5px;
  }
}

.dashboard-white-box {
  background-color: white;
  padding: 10px;
  margin-top: 30px;
  h3 {
    margin-top: 0px !important;
    padding: 4px;
    font-size: 18px;
    margin-top: 4px;
    font-weight: bold;
    background-color: white;
    color: $main-color;
    border-radius: 3px;
  }
  display: flex;
  flex-direction: column;
  canvas {
  }
}

.dashboard-white-box-2 {
  background-color: white;
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  h3 {
    margin-top: 0px !important;
    padding: 4px;
    font-size: 15px;
    margin-top: 4px;
    font-weight: bold;
    background-color: $main-color;
    color: white;
    border-radius: 3px;
  }
}

.main-info {
  margin: 0px;
  display: flex;
  justify-content: space-around;
}

.tableau {
  width: 100%;
  justify-content: center;
  text-align: center;
  margin-left: 0px;
  td, th {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    color: $main-color;
    text-align: center;
  }

}

.thead-dark {
  background-color: $main-color;
  th {
  color: white !important;
  }
}


