// Specific CSS for your home-page



.home-container {
  text-align: center;
  margin: 0 auto;
  & h1 {
  text-transform: uppercase;
  font-size: 46px;
  margin-bottom: 40px;
  }
}


.home-content {
  margin-top: 45%;
}

.home-bottom {
  margin-top: 140px;
  text-align: right;
  margin-right: 20px;
}


.home {
text-align: center;
margin: 35px;
}


