<div class="card">
  <div class="card-main" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1524214786335-66456317bde6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=81c0d1a541bf9c4857daa8b6c79bffda&auto=format&fit=crop&w=750&q=80');">
    <div class="asset-category">Entrepôt</div>
  </div>
  <div class="card-information">
    <div class="first-line">
      <div class="address"><p> <%= business_asset.geographical_location.address %></p></div>
      <div class="occupancy">
        <% if  %>
          <% business_asset.occupancy_rate > 0.8 %>
          <i class="fas fa-circle" style="color: green"></i>
          <% else %>
            <i class="fas fa-circle" style="color: red"></i>
        <% end %>

      </div>
    </div>
    <div class="rental-info">
      <div class="surface"><p>Surface: <%= business_asset.surface.round %> m2</p></div>
      <div class="rent"><p><%= business_asset.potential_annual_rent_sqm.round %>/ €an/m2</p></div>
    </div>
    <div class="profitability"><p>Rentabilité: 7,05%</p></div>
  </div>
</div>
