<div class="footer">
  <div class="footer-links">
    <a href="https://www.braxtonam.com/"><i></i></a>
  </div>



  <!-- The Modal -->

  <div class="footer-copyright">
    All rights reserved to braxton AM
  </div>
</div>
