<div class="wrapper">
<div class="home-banner", style="display: flex;">
  <div class="col-sm-6", style="display: flex; align-items: center; justify-content: center;">
  <%= render 'business_assets/searchbar' %>
  </div>
  <div class="col-sm-6", style="display: flex; align-items: center; justify-content: left;">
    <div>
      <h1>Lynx Asset Management</h1>
    </div>
  </div>
</div>
</div>
