/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0px 0px 0px 0px;
  text-align: center;
  color: white;
}
.alert-info {
  background: $secondary-color;
}
.alert-warning {
  background: $secondary-color;
}


