.btn-main {
  border: none;
  background-color: $main-color;
  border-radius: 5px;
  width: 150px;
  color: white;
}



.btn-secondary {
  border: none;
  background-color: $secondary-color;
  border-radius: 5px;
  width: 50px;
  color: white;
  height: 40px;
  margin-left: 30px;
  padding: 5px;
}


