.card {
  position: relative;
  color: black;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  border-color: #fafafa;
  margin-top: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-main {
  background-size: cover !important;
  background-position: center;
  height: 160px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
}

.card p {
  color: #4b6a69;
}

.card-information {
  padding: 15px;
  top: 20px;
}

.asset-category {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 15px;
  text-transform: uppercase;
  color: white;
}

.rental-info {
  display: flex;
  justify-content: space-between;
}

.address {
  color: #4b6a69 !important;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-bottom: 10px;
}

.profitability {
  text-align: Right;
  color: #4b6a69;
}

.occupancy {
  position: absolute;
  left: 25px;
  bottom: 25px;
}

.line-one {
  display: flex;
}

.rent p {
  color: $third-color;
  font-weight: bold;
}

.card2 {
  border-radius: 4px;
  margin: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display: flex;
  margin-bottom: -5Opx;
}
.card2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card2-image {
  background-size: cover !important;
  background-position: center;
  height: 100%;
  position: relative;
  height: 250px;
  width: 100%;
}
.card2-info {
  margin: 0px;
  background-color: #F2F2F2;
  width: 100%;
}
.card2-asset-type {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 24px;
  color: white;
  font-weight: extra-bold;
  border-radius: 4px;
  background-color: #a43a2C;
  font: Open Sans;
  padding: 5px;
}
.card2-info-address {
  padding-left: 25px;
  margin: 0px;
  h2 {
    font-size: 24px !important;
    font-color: $main-color;
  }
  p {
    color: $main-color;
  }
}
.card2-other-info {
  padding-left: 25px;
  h2 {
    margin-top: 10px;
    color: $main-color !important;
  }
  p {
    color: $main-color !important;
    margin-right: 15px;
  }
}
.surface-yield {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-right: 20px;
}
.price {
  position: absolute;
  right: 20px;
  bottom: 5px;
  h2 {
    color: white;
    font-size: 24px;
    font-weight: 700 !important;
  }
}


