.tr-card {
  background-color: white;
  display: flex;
  color: black;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 1px;
  transition: 0.3s;
  border-color: $third-color;
  margin: 7px;
  background: #fafafa;
  border-radius: 10px;
  padding: 5px;
}



.tr-card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  padding-left: 10px;
}

.tr-card-type {
  text-transform: capitalize;
  padding: 5px 5px 0px 5px;
}

.tr-card-address {
  text-transform: capitalize;
  padding-right: 25px;
  padding-left: 25px;
}

.tr-card-feature-list {
  text-align: right;
  margin: 0 !important;
  list-style: none;
  padding: 0px 5px 0px 5px;
  li {
    background-color: #fff;
    border: 1px solid #e2e2e2;
    border-radius: .1rem;
    color: #4a4a4a;
    display: inline-block;
    font-family: Roboto,sans-serif;
    font-size: 1.4rem;
    height: 2rem;
    line-height: 2rem;
    margin: 0 .3rem 0 0;
    padding: 0 .3rem;
  }
}

.tr-card-return {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 60px;
  background-color: $third-color;
  p {
    color: white;
    font-weight: bold;
  }
}

//tr-card2//tr-card2//tr-card2//tr-card2//tr-card2

.tr-card2 {
  display: flex;
  margin: 20px;
  border-radius: 4px;
  background-color: #F2F2F2;
}

.tr-card-picture {
  background-size: cover;
  background-position: center;
  height: 120px;
  width: 200px;
  padding: 10px;
  position: relative;
}

.tr-card2-asset-type {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
  color: white;
}

.tr-card2-middle-down {
  display: flex;
  justify-content: space-between;
}

.tr-card2-middle {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tr-card2-right {
  width: 100px;
}

.tr-card2-yield {
  height: 50%;
}

.tr-card2-middle-surface {
  padding-left: 25px;
  color: $main-color;
}

.tr-card2-middle-price {
  padding-right: 25px;
  color: $main-color;
}

.tr-card2-middle-address {
  padding: 5px 25px;
  text-transform: uppercase;
}

.checkbox_taz {
  padding-left: 23px;
  padding-top: 7px;
}

.coucou {
  h5 {
    margin-top: 70px;
  }
}

.bite {
  h5 {
    padding-right: 300px;
  }
}

.tr-card2-middle-down-coucou {
  display: flex;
  justify-content: space-between;
}
