.custom-text {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
};


.collection_radio_buttons {
  margin: 0px 5px 0px 5px;
}

// Form design
.form-asset {
  background: white;
  margin-top: 50px;
  padding: 20px;
  border-radius: 5px;
  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #666666;
    margin-bottom: 50px;
    margin-top: 0px;
  }
  .btn {
    width: 100%;
    padding: 10px;
    font-weight: bold;
  }
}

// Checkboxes design
.category-choices {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px;
  flex-wrap: wrap;
  margin: 20px 0;
}

.category-choice {
  width: 25%;
  height: 100px;
  background: #b7b7b7;
  padding: 5px;
  border-radius: 5px;
  opacity: .8;
  flex: 0 0 30%;
  display: flex;
  color: white;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
  background-color: $secondary-color;
  color: white;
  opacity: 0.8;
  }
}

.category-name {
  margin: 0px;
  font-size: 14px;
  &.active {
    color: white;
  }
}

.form-section {
  margin-top: 20px;
  padding: 5px 3px 5px 5px;
  font-size: 15px;
  font-weight: bold;
  background-color: $main-color;
  color: white;
  border-radius: 3px;
}


.row-form {
  width: 100%;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  // grid-template-rows: minmax(50vh, 1fr);
  grid-template-rows: 60vh;
  border: 1px solid #ccc;
  background-color: white;
  margin-bottom: 30px;
  border-radius: 4px;

  text-align:center;
  align-items: center;
}
// .container-form {
//   height: 100%;
// }


.form-input-title {
  display: flex;
  justify-content: flex-start;
  font-weight: $text-font-weight;
  font-size: $text-font-size;
  font-family: $text-font-family;
  color: $main-color;
  margin-top: 3px;
}

.form-input-numeric {
  width: 55% !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

input {
  border-radius: 4px !important;
}

.form-input-checkbox {
  color:$main-color;
  font-weight: $text-font-weight;
  font-size: $text-font-size;
  font-family: $text-font-family;
  color: $main-color;
  margin-top: 3px;
  label {
    margin: 0px 0px 0px 3px;
  }
}


.form-input-radio {
  color:$main-color;
  font-weight: $text-font-weight;
  font-size: $text-font-size;
  font-family: $text-font-family;
  color: $main-color;
  margin-top: 3px;
  label {
    margin: 0px 0px 0px 3px;
  };
  legend {
    text-decoration: none;
    font-weight: $text-font-weight;
    font-size: $text-font-size;
    font-family: $text-font-family;
    color: $main-color;
    margin: 3px 0px 3px 0px;

  }
}

.btn-section {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 10px 0px 10px 0px;
}

.btn-form {
  background-color: $main-color !important;
  color: white !important;
}






/*=========================================================================


/* Hide all steps by default: */
.tab {
  display: none;
  overflow-y: scroll;
  height: 50vh;
  vertical-align: center;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}


.steps {
  text-align:center;
  margin-top:40px;
  margin-bottom:20px;
  display: flex;
  justify-content: space-around;
}

/* Make circles that indicate the steps of the form: */
.step {
  text-align: center;
  opacity: 0.5;

}

/* Mark the active step: */
.step.active {
  opacity: 1;
  color: $secondary-color;
  p {
    color: $secondary-color;
  }
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}


.nav-btn {
  background-color: inherit;
  border: hidden;
  color: $main-color;
  margin: 0px 3px 0px 3px;
  &:hover {
    background-color: $main-color;
    opacity: 0.5;
    color: white;
    border-radius: 4px;

  };
}

