.custom-text {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
};


.collection_radio_buttons {
  margin: 0px 5px 0px 5px;
}

// Form design
.form-asset {
  background: white;
  margin-top: 50px;
  padding: 20px;
  border-radius: 5px;
  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #666666;
    margin-bottom: 50px;
    margin-top: 0px;
  }
  .btn {
    width: 100%;
    padding: 10px;
    font-weight: bold;
  }
}

// Checkboxes design
.category-choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}

.category-choice {
  background: #b7b7b7;
  padding: 20px;
  border-radius: 5px;
  opacity: .4;
  flex: 0 0 30%;
  text-align: center;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
  background: $brand-primary;
  color: white;
  opacity: 1;
  }
}


.form-section {
  margin-top: 20px;
  padding: 5px 3px 5px 5px;
  font-size: 15px;
  font-weight: bold;
  background-color: $main-color;
  color: white;
  border-radius: 3px;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: white;
    margin-bottom: 30px;
    border-radius: 4px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

.row-form {
  display: flex;
  min-height: 50vh;
  padding: 10px 0px 10px 0px;
  align-items: center;
}
.container-form {
  height: 100%;
}


.form-input-title {
  font-weight: $text-font-weight;
  font-size: $text-font-size;
  font-family: $text-font-family;
  color: $main-color;
  margin-top: 3px;
}

.form-input-numeric {
  width: 55% !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

input {
  border-radius: 4px !important;
}

.form-input-checkbox {
  color:$main-color;
  font-weight: $text-font-weight;
  font-size: $text-font-size;
  font-family: $text-font-family;
  color: $main-color;
  margin-top: 3px;
  label {
    margin: 0px 0px 0px 3px;
  }
}


.form-input-radio {
  color:$main-color;
  font-weight: $text-font-weight;
  font-size: $text-font-size;
  font-family: $text-font-family;
  color: $main-color;
  margin-top: 3px;
  label {
    margin: 0px 0px 0px 3px;
  };
  legend {
    text-decoration: none;
    font-weight: $text-font-weight;
    font-size: $text-font-size;
    font-family: $text-font-family;
    color: $main-color;
    margin: 3px 0px 3px 0px;

  }
}

.btn-section {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 10px 0px 10px 0px;
}

.btn-form {
  background-color: $main-color !important;
  color: white !important;
}
