.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.main-container {
  margin: 10px 0px 0px 10px;
  display: flex;
}

#map {
  flex: 0 0 800px;
  height: 100vh;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
}

.small-map {
  flex: 0 0 120px !important;
  height: 100vh;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
  width: 120px;
}

.infowindow_address p {
  color: $main-color;
  font-size: strong;
  margin-top: 5px;
}

.infowindow_surface p {
  color: $main-color;
}

.infowindow_price p {
  color: $main-color;
}

.infowindow_image {
  max-width: 70px;
}

.infowindow {
  width: 230px;
  text-align: center;
  margin-left: 22px
}
