
$navbar-font-color: white;
$navbar-background-color: $main-color;

.navbar-taz-medium {
  width: 60% !important;
}

.navbar-taz-short {
  width: 45% !important;
}

/* Main navbar */
.navbar-taz {
  position: fixed;
  top: 0px;
  z-index: 11;
  width:  100%;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: $navbar-background-color;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  transition: 0.5s background-color ease;
}

/* Logo */
.navbar-taz-brand img {
  height: 70px;
  fill: $navbar-font-color;
}

/* Right section */
.navbar-taz-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-taz-left {
  display: flex;
  position: absolute;
  left: 155px;
  align-items: left;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-taz-item {
  cursor: pointer;
  padding: 0 20px;
  margin: 15px;
  color: $main-color;
}
.navbar-taz-item-new {
  cursor: pointer;
  padding: 0px;
  margin: 5px;
  color: $main-color;
}

/* Navbar link */

.navbar-taz-link {
  color: white;
  font-size: $text-font-size;
}
.navbar-taz-link:hover {
  color: $main-color;
  text-decoration: none;
}

.navbar-taz-white {
  background-color: $navbar-background-color;
}
.navbar-taz-green {
  background-color: $navbar-background-color;
  color: $navbar-font-color;
}

/* Dropdown menu */
.navbar-taz-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-taz-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-taz-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-taz-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.navbar-title {
  font-weight: $title-font-weight;
  size: 18;
  font-family: $title-font-family;
  color: $navbar-font-color;
  letter-spacing: 2px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 20px;
  margin-right: 20px;
  .active {
    color: $secondary-color;
    border-bottom: 3px solid $secondary-color;
  }
}

.navbar-title:hover {
  color: $secondary-color;
  border-bottom: 3px solid $secondary-color;
}

.navbar {
  a:hover, a:active{
  text-decoration: none;
  color: $secondary-color;
  border-bottom: 1px solid $secondary-color;
  }
}


.navbar-index {
  background-color: $main-color !important;
}
