<!DOCTYPE html>
<html>
  <head>
    <title>TAZ Components</title>
    <link rel="stylesheet" href="all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>TEST</title>
  </head>
  <body>
    <h1>NAVBAR</h1>
    <br>
    <div class="navbar-taz">
      <!-- Logo -->
      <a href="/" class="navbar-taz-brand">
        <img src="logo_braxton.png" alt="logo">
      </a>

      <!-- Right Navigation -->
      <div class="navbar-taz-right hidden-xs hidden-sm">

        <a href="" class="navbar-taz-item navbar-taz-link">Home</a>
        <a href="" class="navbar-taz-item navbar-taz-link">Search</a>
        <a href="" class="navbar-taz-item navbar-taz-link">Add an asset</a>
        <a href="" class="navbar-taz-item navbar-taz-link">Dashboard</a>
    </div>
  </div>
        <br><br><br><br>
    <h1>CARD</h1>
      <br>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <div class="card-main" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1518906288677-1123210f0700?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=870aa261297b5f7339119c6d83b1372f&auto=format&fit=crop&w=400&q=80');">
              <div class="asset-category">Entrepôt</div>
            </div>
            <div class="card-information">
              <div class="first-line">
                <div class="address"><p>address of the Asset</p></div>
                <div class="occupancy">
                  <i class="fas fa-circle" style="color: #8acddd"></i>
                </div>
              </div>
              <div class="rental-info">
                <div class="surface"><p>Surface: 2 500m2</p></div>
                <div class="rent"><p>75€/an/m2</p></div>
              </div>
              <div class="profitability"><p>Rentabilité: 6,05%</p></div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <div class="card-main" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1524214786335-66456317bde6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=81c0d1a541bf9c4857daa8b6c79bffda&auto=format&fit=crop&w=750&q=80');">
              <div class="asset-category">Entrepôt</div>
            </div>
            <div class="card-information">
              <div class="first-line">
                <div class="address"><p>25 rue Leon Blum Argenteuil</p></div>
                <div class="occupancy">
                  <i class="fas fa-circle" style="color: red"></i>
                </div>
              </div>
              <div class="rental-info">
                <div class="surface"><p>Surface: 4 400m2</p></div>
                <div class="rent"><p>95€/an/m2</p></div>
              </div>
              <div class="profitability"><p>Rentabilité: 9,10%</p></div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <div class="card-main" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1519357312273-a956f309a1ce?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=46eb19bee0c064865e9b519b83b4a208&auto=format&fit=crop&w=334&q=80');">
              <div class="asset-category">Entrepôt</div>
            </div>
            <div class="card-information">
              <div class="first-line">
                <div class="address"><p>5 rue benjamin Raspail Malakof</p></div>
                <div class="occupancy">
                  <i class="fas fa-circle" style="color: #8acddd"></i>
                </div>
              </div>
              <div class="rental-info">
                <div class="surface"><p>Surface: 1 200m2</p></div>
                <div class="rent"><p>68€/an/m2</p></div>
              </div>
              <div class="profitability"><p>Rentabilité: 7,05%</p></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br><br><br><br>

    <h1>buttons</h1>
    <br>
    <p class="text-center"><a href="#" class="btn-validate">Start now</a></p>
    <br><br><br><br>

    <h1>Form sign-in</h1>
    <br>
    <div class="main-signup">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div>
        <button type="submit" class="btn-form btn-validate">Submit</button>
        </div>
      </form>
    </div>








  </body>
</html>
<!-- end of file -->
