<div class="tr-estimate">
  <div class="tr-estimate-title">
    Estimate based on all data entries
  </div>
  <div class="tr-estimate-fork">
    <ul class="estimate-fork-list">
      <li class="estimate-element">
        <p>Low estimate</p>
        <h4>100 000€</h4>
      </li>
      <li class="estimate-sep"></li>
      <li class="estimate-element">
        <p>Best estimate</p>
        <h4>120 000€</h4>
      </li>
      <li class="estimate-sep"></li>
      <li class="estimate-element">
        <p>High estimate</p>
        <h4>140 000€</h4>
      </li>
    </ul>
  </div>
</div>
