<div class="tr-estimate">
  <div class="tr-estimate-title">
    Estimate based on all data entries
  </div>
  <div class="tr-estimate-fork">
    <ul class="estimate-fork-list">
      <li class="estimate-element">
        Low estimate
      </li>
      <li class="estimate-sep"></li>
      <li class="estimate-element">
        Base estimate
      </li>
      <li class="estimate-sep"></li>
      <li class="estimate-element">
        High estimate
      </li>
    </ul>
  </div>
</div>
